<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<meta name="viewport" content="width=device-width, height=device-height, initial-scale=1">
		
		<title>회원가입 화면</title>
		
		<link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.0.2/css/bootstrap.min.css"> <!-- load bootstrap css -->
    	<link rel="stylesheet" href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.min.css"> <!-- load fontawesome -->
    	
    	<style>
        	body        { padding-top:80px; }
    	</style>
    
	</head>
	<body>
		
		<div class="container">			
						
			<div class="col-sm-6 col-sm-offset-3">
			
			    <h1><span class="fa fa-sign-in"></span> 회원가입</h1>
			
			    <!-- 인증 처리 후 메시지가 있으면 메시지 표시 -->
			    <% if (message.length > 0) { %>
			        <div class="alert alert-danger"><%= message %></div>
			    <% } %>
 
			    <form action="/signup" method="post" >
			        <div class="form-group">
			            <label>이메일</label>
			            <input type="text" class="form-control" name="email">
			        </div>
			        <div class="form-group">
			            <label>비밀번호</label>
			            <input type="password" class="form-control" name="password">
			        </div>
			        <div class="form-group">
			            <label>별명</label>
			            <input type="text" class="form-control" name="name">
			        </div>
			
			        <button type="submit" class="btn btn-warning btn-lg">회원가입</button>
			    </form>
			
			    <hr>
			
			    <p>이미 계정이 있으신가요? <a href="/login">로그인하기</a></p>
			    <p><a href="/">홈으로</a>.</p>
			
			</div>
			
		</div>	
			
	</body>
</html>