<!DOCTYPE html>
<html>
  <head>
    <title> EJS Test Page</title>
  </head>
  <body>
    <h1><%= name %></h1>
    <p><%= 52 + 273 %></p>
    <hr />
    <% for(let i = 0; i < 10; i++) { %>
      <h2> the square of <%= i %> is <%= i * i%></h2>
      <% } %>
  </body>
</html>
